ALTER TABLE gqr_entry ADD COLUMN IF NOT EXISTS export_quality_weight numeric(10, 3); ALTER TABLE gqr_entry ADD COLUMN IF NOT EXISTS podi_weight numeric(10, 3); ALTER TABLE gqr_entry ADD COLUMN IF NOT EXISTS gap_items_weight numeric(10, 3); ALTER TABLE gqr_entry ADD COLUMN IF NOT EXISTS total_value_received numeric(10, 2);
