-- Add weight_shortage_weight column to gqr_entry table
-- Run this in your Supabase SQL editor

-- First, check if the column exists in gqr_entry table
SELECT column_name, data_type, is_nullable 
FROM information_schema.columns 
WHERE table_name = 'gqr_entry' 
AND column_name = 'weight_shortage_weight';

-- If the column doesn't exist, add it to gqr_entry table
ALTER TABLE gqr_entry 
ADD COLUMN IF NOT EXISTS weight_shortage_weight DECIMAL(10,3) DEFAULT 0;

-- Verify the column was added
SELECT column_name, data_type, is_nullable 
FROM information_schema.columns 
WHERE table_name = 'gqr_entry' 
AND column_name = 'weight_shortage_weight';

-- Update existing records to set a default value if needed
UPDATE gqr_entry 
SET weight_shortage_weight = 0 
WHERE weight_shortage_weight IS NULL;

-- Note: The pre_gr_entry table already has a weight_shortage field
-- but for GQR calculations, we need it in gqr_entry table
